body{
	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-u9lvCDx4ezDqUDoHxtqoz-ii-rKPPlZBh3ArmrxMG8OvvdqDZw");
    background-size: cover;
}
.jumbotron{
	text-align: center;
    margin-top: 10px;
    /* background-color: palegoldenrod; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: transparent;
}
.routine {
    background-color: ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bodyStyle{
	float:left;
	margin: 10px 20px 10px 0px;
}
#crystalStyle {
    /* background: transparent; */
    /* border: 0; */
    cursor: pointer;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    background: transparent;
  }