body{
	background: url("background.jpg")no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron{
	text-align: center;
	margin-top: 10px;
}
.panel-heading{
	background-color: #F1D487;
}
#panelStyle{
	float:left;
	margin: 10px 20px 10px 0px;
}